/* Portfolio Page starts */

/* Nav bar starts */
nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
}

.navbar {
	background-color: black;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;
}

.navbar-default .navbar-brand {
	color: white;
	background-color: black;
}

.navbar-default .navbar-nav>li>a {
	text-align: center;
	color: white;
	background-color: black;
	font-size: 20px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: black;
	background-color: #fafafa;
}

.logo {
	height: 30px;
	margin-bottom: 5px;
}

.btn {
	background-color: black;
}

/* Nav bar end */

.portPage {
	background-color: #fafafa;
	background-size: cover;
	background-position: center;
	padding: 1%;
}

.portTitle {
	text-align: left;
	font-size: 60px;
	font-weight: bolder;
	color: black;
	margin: auto;
	letter-spacing: -.07em;
	line-height: 1.2em;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

.portSubTit {
	text-align: center;
	color: black;
	padding: 1%;
}

.portPic {
	height: 300px;
	width: 300px;
	margin: auto;
	opacity: .7;
}

.portPic:hover {
	opacity: 1.0;
}

.workDes{
	color: #666666;
	font-family: 'Roboto Slab', serif;
	font-size: 14px;
	text-align: center;
}

.work {
	padding-top: 0.5em;
	padding-bottom: 1.0em;
}

/* Portfolio Page ends */

/* Footer starts */

.fa-copyright{
	font-size: 16px;
	background-color: #f5f5f5;
	color: #666666;
}

/* Social Media Nav Starts */

.btn {
	background-color: rgba(0, 0, 0, 0);
}

.fa-facebook-square {
	color: #3b5998;
	font-size: 20px;
}

.fa-linkedin-square {
	color: #0077b5;
	font-size: 20px;
}

.fa-twitter {
	color: #00aced;
	font-size: 20px;
}

.fa-free-code-camp {
	color: green;
	font-size: 20px;
}

/* Social Media Nav Ends */

/* Footer ends */
